body {
    scroll-behavior: smooth;
}

.card {
    min-width: 1300px;
    margin: 100px 100px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.api__img {
    margin: 5px;
    box-shadow: -8px -1px 3px -3px rgb(100, 100, 100), 0 5px 3px -5px black;
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
}

.api__img:hover {
    opacity: 0.9;
    transform: scale(1.01);
    cursor: pointer;
}

.section__first {
    display: flex;
    flex-direction: column;
}

.bottomRight__icon {
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 0;
    position: fixed;
}

.bottomRight__icon>.btomicon {
    padding: 30px;
    border-radius: 100px;
    margin: -7px 5px;
    font-size: 20px;
}
.extra{
    display: none;
}

@media only screen and (max-width: 600px) {
    .card {  
        min-width: 500px;
        margin: 50px 15px;
    }
    .img__api{
        width: 520px;
        margin: 70px 10px;
     }
    .api__img{
        width: 250px;
        min-height: 350px;
    }
    .extra{
        display: block;
    }
}